<!DOCTYPE html>
<html>
  <head>
    <title><%= settings.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= settings.title %></h1>
    <nav>
      <ul id="links">
        <li><a href="/">Home</a></li>
        <li><a href="/photos">Photos</a></li>
        <li><a href="/upload">Upload</a></li>
      </ul>
    </nav>
  </body>
</html>
